.fa-brands {
    color: #fdfdfd;
}

.rodape {
    background: #bfbfbf;
    color: #fdfdfd;
    height: 5rem;
    text-align: center;
}

.rodape__direitos {
    font-size: 1rem;
}

.rodape__social {
    background: #bfbfbf;
    cursor: pointer;
    text-align: center;
}

.rodape__social a {
    margin-inline: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 0) {
    .rodape {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 768px) {
    .rodape {
        font-size: 2rem;
    }
}